html, body {
    margin: 0;
}
.wrapper {
    width: 350px;
    height: 500px;
    padding: 0 20px;
}
.wrapper .list {
    display: none;
}
.wrapper .about {
    display: none;
}
.title {
    text-align: center;
}
p {
    font-size: 16px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
.footer nav {
    flex-grow: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-weight: 600;
}